# .clang-format
BasedOnStyle: LLVM
IndentWidth: 4 # logical indent level = 1 tab
TabWidth: 4 # how wide a tab renders (adjust per team preference)
UseTab: Always # use tabs for indentation, spaces for alignment
ContinuationIndentWidth: 8
BreakBeforeBraces: Attach
ColumnLimit: 150
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: true
ReflowComments: true
SortIncludes: true
IncludeBlocks: Regroup
AccessModifierOffset: -2
NamespaceIndentation: All
